= form_with(model: [@company, @job], local: true) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field
    = f.label :description
    = f.rich_text_area :description, class: "form-control"
  .field
    = f.label :job_type
    = f.select :job_type, Job.job_types.keys, class: "form-control"
  %br
  .actions
    = f.submit 'Save'
