%br
%h3.title.is-3
  = @company.name
%p
  = @company.description
%br
-if policy(@company).update?
  = link_to 'Add a new job listing', new_company_job_path(@company, @job), class: 'button is-success'
  = link_to 'Edit company', edit_company_path(@company), class: 'button is-info'
  = link_to 'Delete company', @company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'
  %br
  %br
-if @company.jobs.count.zero?
  %h3 No jobs available at this time
-else
  %br
  %br
  %h4.title.is-4 All job listings
- @company.jobs.each do |job|
  %br
  .card
    .card-content
      .content
        %h5.title.is-5
          = job.title
        = job.job_type == 'full_time' ? 'Full-time' : 'Part-time'
        %br
        %br
        = link_to 'More details', company_job_path(@company, job), class: 'button is-success'
        -if policy(@company).update?
          = link_to 'Edit', edit_company_job_path(@company, job), class: 'button is-info'
          = link_to 'Delete', company_job_path(@company, job), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger'
%br
= link_to 'Back', companies_path, class: 'button is-warning'
%br
%br
